<template>
  <v-card flat slot="activator">
    <v-card-title>
      All Meat Purchases
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="allMeatPurchases"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.meat_type_name }}</td>
        <td>{{ props.item.meat_purchase_cost }}</td>
        <td>{{ props.item.meat_purchase_weight }}</td>
        <td>{{ props.item.meat_purchase_receipt }}</td>
        <td>{{ props.item.meat_purchase_supplier }}</td>
        <td>{{ props.item.created_at_datetime }}</td>
        <td>
          <v-btn flat slot="activator" class="blue" small v-on:click="viewPurchase(props.item.meat_purchase_public_id)"><h3 class="white--text">View</h3></v-btn>
          <!--<v-btn flat slot="activator" class="orange" small v-on:click="viewMeat(props.item.meat_type_id)"><h3 class="white&#45;&#45;text">MeatType</h3></v-btn>-->
          <!--<v-btn class="red" small v-on:click="viewButchery(props.item.butchery_id)"><h3 class="white&#45;&#45;text">Butchery</h3></v-btn>-->
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import MeatPurchase from '../../../../../Mixins/Vuex/MeatPurchase'
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
export default {
  name: 'AllMeatPurchases',
  data () {
    return {
      search: '',
      headers: [
        { text: 'Meat type', value: 'meat_type_name' },
        { text: 'Cost', value: 'meat_purchase_cost' },
        { text: 'weight', value: 'meat_purchase_weight' },
        { text: 'receipt', value: 'meat_purchase_receipt' },
        { text: 'supplier', value: 'meat_purchase_supplier' },
        { text: 'Created At', value: 'created_at_datetime' },
        { text: 'Action' }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_purchases')
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    viewMeat: function (publicId) {
      this.$router.push({
        name: 'SingleMeatPurchaseMeatType',
        params: {
          meat_type_id: publicId
        }
      })
    },
    viewPurchase: function (publicId) {
      this.$router.push({
        name: 'SingleMeatPurchase',
        params: {
          meat_purchase_id: publicId
        }
      })
    },
    viewButchery: function (publicId) {
      this.$router.push({
        name: 'SingleMeatPurchaseButchery',
        params: {
          butchery_id: publicId
        }
      })
    }
  },
  mixins: [MeatPurchase, MeatTypes]
}
</script>

<style scoped>

</style>
