<template>
  <v-layout row wrap>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-card-title>Meat Purchase Category</v-card-title>
          <v-container>
            <v-form  @submit.prevent="postMeatPurchase()">
              <v-text-field
                label="Weight"
                v-model="meat_purchase.meat_purchase_weight"
                :rules="requiredRules"
                required
              ></v-text-field>
              <v-text-field
                label="Cost"
                v-model="meat_purchase.meat_purchase_cost"
                :rules="requiredRules"
                required
              ></v-text-field>
              <v-btn type="submit">submit</v-btn>
            </v-form>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-card-title>Meat Purchase</v-card-title>
          <v-container>
            <table cellpadding="1" cellspacing="1" class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Weight</th>
                <th>Cost</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(meat_purchase, index) in allMeatPurchases" :key="index">
                <td>{{index + 1}}</td>
                <td>{{meat_purchase.meat_purchase_cost}}</td>
                <td>{{meat_purchase.meat_purchase_weight}}</td>
                <td>
                  <v-btn small color="error" @click="deleteMeatPurchase(meat_purchase.meat_purchase_public_id)" v-if="edit === false">Remove</v-btn>
                  <v-btn small color="warning" @click="editMeatPurchase(meat_purchase)"  v-if="edit === false">Edit</v-btn>
                  <v-btn small color="error" @click="cancelEdit()"  v-if="edit === true">Cancel Edit</v-btn>
                </td>
              </tr>
              </tbody>
            </table>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import MeatPurchase from '../../../../../Mixins/Vuex/MeatPurchase'
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
export default {
  name: 'MeatTypeSettings',
  data () {
    return {
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      edit: false,
      meat_purchase: {
        butchery: localStorage.getItem('butchery_id'),
        meat_purchase_cost: 0,
        meat_purchase_weight: 0,
        session_id: localStorage.getItem('W0tas3232yTGZQ2ltpJ9xua32yR1')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_purchases')
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    postMeatPurchase: function () {
      if (this.edit === false) {
        this.$store.dispatch('post_meat_purchase', this.meat_purchase)
      } else {
        this.$store.dispatch('update_meat_purchase', this.meat_purchase)
      }
      this.cancelEdit()
    },
    deleteMeatPurchase: function (publicId) {
      var data = {
        meat_purchase_id: publicId,
        deleted_by: localStorage.getItem('W0tas3232yTGZQ2ltpJ9xua32yR1')
      }
      this.$store.dispatch('delete_meat_purchase', data)
    },
    editMeatPurchase: function (projectType) {
      this.meat_purchase = projectType
      this.edit = true
    },
    cancelEdit: function () {
      this.meat_purchase = {
        butchery_id: localStorage.getItem('d59c2a05-f8e0-44f7-8e5d-e5801b352337'),
        meat_purchase_weight: 0,
        meat_purchase_cost: 0,
        meat_type_id: '',
        session_id: localStorage.getItem('W0tas3232yTGZQ2ltpJ9xua32yR1')
      }
      this.edit = false
    }
  },
  mixins: [MeatPurchase, MeatTypes]
}
</script>

<style scoped>

</style>
