<template>
  <v-card flat slot="activator">
    <v-card-title>Add Meat Purchase</v-card-title>
    <v-container>
      <v-form  @submit.prevent="postMeatPurchase()"  v-model="valid" ref="form" lazy-validation>
        <v-select
          label="Meat Type"
          v-model="meat_purchase.meat_type_public_id"
          :items="allMeatTypes"
          :rules="[v => !!v || 'A Meat type is required']"
          item-text="meat_type_name"
          item-value="meat_type_public_id"
          required
        ></v-select>
        <v-text-field
          label="Cost"
          v-model="meat_purchase.meat_purchase_cost"
          :rules="requiredRules"
          type="Number"
          required
        ></v-text-field>
        <v-text-field
          label="Weight"
          v-model="meat_purchase.meat_purchase_weight"
          :rules="requiredRules"
          type="Number"
          required
        ></v-text-field>
        <v-text-field
          label="Receipt"
          v-model="meat_purchase.meat_purchase_receipt"
          :rules="requiredRules"
          type="Number"
          required
        ></v-text-field>
        <v-text-field
          label="Supplier"
          v-model="meat_purchase.meat_purchase_supplier"
          :rules="nameRules"
          type="text"
          :counter="20"
          required
        ></v-text-field>
        <v-btn class="primary" type="submit">submit</v-btn>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
export default {
  name: 'NewMeatPurchase',
  data () {
    return {
      valid: true,
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      meat_purchase: {
        butchery: localStorage.getItem('butchery_id'),
        meat_type_public_id: '',
        meat_purchase_weight: 0,
        meat_purchase_cost: 0,
        meat_purchase_receipt: '',
        meat_purchase_supplier: '',
        session_id: localStorage.getItem('session_id')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    postMeatPurchase: function () {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('post_meat_purchase', this.meat_purchase)
      }
    }
  },
  mixins: [MeatTypes]
}
</script>

<style scoped>

</style>
