<template>
  <v-layout row wrap>
    <v-flex lg4 md4 sm12 xs12>
      <v-container>
        <v-card>
          <v-container>
            <p>Meat Type: {{SingleMeatPurchaseButchery.meat_type_name}}</p>
            <p>Weight: {{SingleMeatPurchaseButchery.meat_purchase_weight}}</p>
            <p>Costs: {{SingleMeatPurchaseButchery.meat_purchase_cost}}</p>
            <p>Receipt: {{SingleMeatPurchaseButchery.meat_purchase_receipt}}</p>
            <p>Created At DateTime: {{SingleMeatPurchaseButchery.created_at_datetime}}</p>
            <p>Updated At DateTime: {{SingleMeatPurchaseButchery.updated_at_datetime}}</p>
            <p>Created_at: {{SingleMeatPurchaseButchery.created_at}}</p>
            <p>Updated_at: {{SingleMeatPurchaseButchery.updated_at}}</p>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg8 md8 sm12 xs12>
      <v-card>
        <v-card-title>
          <!--{{SingleMeatPurchaseButchery.meat_purchase_id}}-->
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="columns"
          :items="allMeatPurchases"
          :search="search"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.meat_type_name }}</td>
            <td>{{ props.item.meat_purchase_cost }}</td>
            <td>{{ props.item.meat_purchase_weight }}</td>
            <td>{{ props.item.meat_purchase_receipt }}</td>
            <td>{{ props.item.meat_purchase_supplier }}</td>
            <td>{{ props.item.created_at_datetime }}</td>
            <!--<td class="has-text-right">-->
            <!--<v-btn small v-on:click="viewExpense(props.item.public_id)">View Details</v-btn>-->
            <!--</td>-->
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import MeatPurchase from '../../../../../Mixins/Vuex/MeatPurchase'
export default {
  name: 'SingleMeatPurchaseButchery',
  data () {
    return {
      search: '',
      columns: [
        { text: 'Meat type', value: 'meat_type_name' },
        { text: 'Cost', value: 'meat_purchase_cost' },
        { text: 'weight', value: 'meat_purchase_weight' },
        { text: 'receipt', value: 'meat_purchase_receipt' },
        { text: 'supplier', value: 'meat_purchase_supplier' },
        { text: 'Created At', value: 'created_at_datetime' }
        // {
        //   text: 'Action'
        // }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_meat_purchase_butchery', this.$route.params.butchery_id)
  },
  mixins: [MeatPurchase]
}
</script>

<style scoped>

</style>
