<template>
  <v-layout row wrap>
    <v-flex sm8 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIyYSSJ0jRd4iVOrO8eHWsEIo2V0I0iIO4FyZKo3D9OIq7ugLoZw"
            height="200px"
          >
          </v-img>

          <v-card-title primary-title>
            <div>
              <div class="headline"><p>{{SingleMeatPurchases.meat_type_name}}</p></div>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn icon @click="show = !show"
                   color="orange"
                   dark
                   small
                   absolute
                   bottom
                   right
                   fab
            >
              <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-slide-y-transition>
            <v-card-text v-show="show">
              <p style="font-family: 'Arial Rounded MT Bold'">Meat Type: {{SingleMeatPurchases.meat_type_name}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Weight: {{SingleMeatPurchases.meat_purchase_weight}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Costs: {{SingleMeatPurchases.meat_purchase_cost}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Receipt: {{SingleMeatPurchases.meat_purchase_receipt}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Created At DateTime: {{SingleMeatPurchases.created_at_datetime}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Updated At DateTime: {{SingleMeatPurchases.updated_at_datetime}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Created_at: {{SingleMeatPurchases.created_at}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Updated_at: {{SingleMeatPurchases.updated_at}}</p>
            </v-card-text>
          </v-slide-y-transition>
          <v-container>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <!--<v-flex lg8 md8 sm12 xs12>-->
      <!--<v-card>-->
        <!--<v-card-title>-->
          <!--&lt;!&ndash;{{SingleMeatPurchases.meat_purchase_id}} &ndash;&gt;-->
          <!--<v-spacer></v-spacer>-->
          <!--<v-text-field-->
            <!--append-icon="search"-->
            <!--label="Search"-->
            <!--single-line-->
            <!--hide-details-->
            <!--v-model="search"-->
          <!--&gt;</v-text-field>-->
        <!--</v-card-title>-->
        <!--<v-data-table-->
          <!--:headers="columns"-->
          <!--:items="allMeatPurchases"-->
          <!--:search="search"-->
        <!--&gt;-->
          <!--<template slot="items" slot-scope="props">-->
            <!--<td>{{ props.item.meat_type_name }}</td>-->
            <!--<td>{{ props.item.meat_purchase_cost }}</td>-->
            <!--<td>{{ props.item.meat_purchase_weight }}</td>-->
            <!--<td>{{ props.item.meat_purchase_receipt }}</td>-->
            <!--<td>{{ props.item.meat_purchase_supplier }}</td>-->
            <!--<td>{{ props.item.created_at_datetime }}</td>-->
            <!--&lt;!&ndash;<td class="has-text-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-btn small v-on:click="viewExpense(props.item.public_id)">View Details</v-btn>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
          <!--</template>-->
          <!--<v-alert slot="no-results" :value="true" color="error" icon="warning">-->
            <!--Your search for "{{ search }}" found no results.-->
          <!--</v-alert>-->
        <!--</v-data-table>-->
      <!--</v-card>-->
    <!--</v-flex>-->
  </v-layout>
</template>

<script>
import MeatPurchase from '../../../../../Mixins/Vuex/MeatPurchase'
export default {
  name: 'SingleMeatPurchase',
  data () {
    return {
      search: '',
      show: false,
      columns: [
        { text: 'Meat type', value: 'meat_type_name' },
        { text: 'Cost', value: 'meat_purchase_cost' },
        { text: 'weight', value: 'meat_purchase_weight' },
        { text: 'receipt', value: 'meat_purchase_receipt' },
        { text: 'supplier', value: 'meat_purchase_supplier' },
        { text: 'Created At', value: 'created_at_datetime' }
        // {
        //   text: 'Action'
        // }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_meat_purchase', this.$route.params.meat_purchase_id)
    this.$store.dispatch('get_all_meat_purchases')
  },
  mixins: [MeatPurchase]
}
</script>

<style scoped>

</style>
