<template>
  <v-card flat slot="activator">
    <v-card-title>
      All Meat Sales
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="allMeatSales"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.meat_type_name }}</td>
        <td>{{ props.item.meat_price }}</td>
        <td>{{ props.item.created_at_datetime }}</td>
        <td>
          <v-btn flat slot="activator" class="blue" small v-on:click="viewSale(props.item.meat_sale_public_id)"><h3 class="white--text">View</h3></v-btn>
          <!--<v-btn class="red" small v-on:click="viewButchery(props.item.butchery_id)"><h3 class="white&#45;&#45;text">Butchery</h3></v-btn>-->
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import MeatSale from '../../../../../Mixins/Vuex/MeatSale'
export default {
  name: 'AllMeatSales',
  data () {
    return {
      search: '',
      headers: [
        {text: 'Meat type', value: 'meat_type_name'},
        {text: 'Price', value: 'meat_price'},
        {text: 'Created At', value: 'created_at_datetime'},
        {text: 'Action'}
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_sales')
  },
  methods: {
    viewSale: function (publicId) {
      this.$router.push({
        name: 'SingleMeatSales',
        params: {
          meat_sale_id: publicId
        }
      })
    },
    viewButchery: function (publicId) {
      this.$router.push({
        name: 'SingleMeatSaleButchery',
        params: {
          butchery_id: publicId
        }
      })
    }
  },
  mixins: [MeatSale]
}
</script>

<style scoped>

</style>
