<template>
  <v-card flat slot="activator">
    <v-card-title>Add Meat Sales</v-card-title>
    <v-container>
      <v-form  @submit.prevent="postMeatSale()"  v-model="valid" ref="form" lazy-validation>
        <v-select :items="allMeatTypes"
                  v-model="meat_sale.meat_type_id"
                  item-text="meat_type_name"
                  item-value="meat_type_public_id"
                  label="Meat Type"
                  @change="selectedPrice"
        ></v-select>
    <v-select :items="MeatPrices"
              v-model="meat_sale.meat_selling_price"
              item-text="meat_selling_price"
              item-value="meat_price_public_id"
              label="Price"
              @change="selectedPrice"
    ></v-select>
        <v-text-field
          label="Weight"
          v-model="meat_sale.weight"
          :rules="requiredRules"
          type="number"
          required
        ></v-text-field>
        <v-btn class="primary" type="submit">submit</v-btn>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
import MeatPrice from '../../../../../Mixins/Vuex/MeatPrice'
export default {
  name: 'NewMeatSales',
  data () {
    return {
      valid: true,
      // colors:[
      //   'green','blue','red','black'
      // ],
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      meat_sale: {
        butchery: localStorage.getItem('butchery_id'),
        meat_type_id: '',
        weight: '',
        meat_selling_price: '',
        session_id: localStorage.getItem('session_id')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    postMeatSale: function () {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('post_meat_sale', this.meat_sale)
      }
    },
    selectedPrice (data) {
      console.log(data)
      this.$store.dispatch('get_meat_prices', data)
    }
  },
  mixins: [MeatTypes, MeatPrice]
}
</script>

<style scoped>

</style>
