<template>
  <v-layout row wrap>
    <v-flex lg4 md4 sm12 xs12>
      <v-container>
        <v-card>
          <v-container>
            <p>Meat Type: {{SingleMeatSaleButchery.meat_type_name}}</p>
            <p>Weight: {{SingleMeatSaleButchery.meat_sale_weight}}</p>
            <p>Price: {{SingleMeatSaleButchery.meat_price}}</p>
            <p>Receipt: {{SingleMeatSaleButchery.meat_purchase_receipt}}</p>
            <p>Created At DateTime: {{SingleMeatSaleButchery.created_at_datetime}}</p>
            <p>Updated At DateTime: {{SingleMeatSaleButchery.updated_at_datetime}}</p>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg8 md8 sm12 xs12>
      <v-card>
        <v-card-title>
          <!--{{SingleMeatSaleButchery.meat_purchase_id}} ID-->
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="columns"
          :items="allMeatSales"
          :search="search"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.meat_type_name }}</td>
            <td>{{ props.item.meat_price }}</td>
            <td>{{ props.item.meat_sale_weight }}</td>
            <td>{{ props.item.created_at_datetime }}</td>
            <!--<td class="has-text-right">-->
            <!--<v-btn small v-on:click="viewExpense(props.item.public_id)">View Details</v-btn>-->
            <!--</td>-->
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import MeatSale from '../../../../../Mixins/Vuex/MeatSale'
export default {
  name: 'SingleMeatSaleButchery',
  data () {
    return {
      search: '',
      columns: [
        { text: 'Meat type', value: 'meat_type_name' },
        { text: 'Price', value: 'meat_price' },
        { text: 'weight', value: 'meat_purchase_weight' },
        { text: 'Created At', value: 'created_at_datetime' }
        // {
        //   text: 'Action'
        // }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_meat_sale_butchery', this.$route.params.butchery_id)
    this.$store.dispatch('get_all_meat_sales')
  },
  mixins: [MeatSale]
}
</script>

<style scoped>

</style>
