<template>
  <v-layout row wrap>
    <v-flex sm8 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxNPaOjrvJudpUsOs8Qq4JXHD1BevlGcgxpwLDAYtTDYcYCF1e"
            height="200px"
          >
          </v-img>

          <v-card-title primary-title>
            <div>
              <div class="headline">{{SingleMeatSale.meat_type_name}}</div>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn icon @click="show = !show"
                   color="orange"
                   dark
                   small
                   absolute
                   bottom
                   right
                   fab
            >
              <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-slide-y-transition>
            <v-card-text v-show="show">
                <p style="font-family: 'Arial Rounded MT Bold'">Weight: {{SingleMeatSale.meat_sale_weight}}</p>
                <p style="font-family: 'Arial Rounded MT Bold'">Price: {{SingleMeatSale.meat_price}}</p>
                <p style="font-family: 'Arial Rounded MT Bold'">Created At DateTime: {{SingleMeatSale.created_at_datetime}}</p>
                <p style="font-family: 'Arial Rounded MT Bold'">Updated At DateTime: {{SingleMeatSale.updated_at_datetime}}</p>
            </v-card-text>
          </v-slide-y-transition>
        </v-card>
      </v-container>
    </v-flex>
    <!--<v-flex lg8 md8 sm12 xs12>-->
      <!--<v-card>-->
        <!--<v-card-title>-->
          <!--{{SingleMeatSale.meat_purchase_id}} ID-->
          <!--<v-spacer></v-spacer>-->
          <!--<v-text-field-->
            <!--append-icon="search"-->
            <!--label="Search"-->
            <!--single-line-->
            <!--hide-details-->
            <!--v-model="search"-->
          <!--&gt;</v-text-field>-->
        <!--</v-card-title>-->
        <!--<v-data-table-->
          <!--:headers="columns"-->
          <!--:items="SingleMeatSale"-->
          <!--:search="search"-->
        <!--&gt;-->
          <!--<template slot="items" slot-scope="props">-->
            <!--<td>{{ SingleMeatSale.meat_type_name }}</td>-->
            <!--<td>{{ SingleMeatSale.meat_price }}</td>-->
            <!--<td>{{ SingleMeatSale.meat_sale_weight }}</td>-->
            <!--<td>{{ SingleMeatSale.created_at_datetime }}</td>-->
            <!--&lt;!&ndash;<td class="has-text-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-btn small v-on:click="viewExpense(props.item.public_id)">View Details</v-btn>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
          <!--</template>-->
          <!--<v-alert slot="no-results" :value="true" color="error" icon="warning">-->
            <!--Your search for "{{ search }}" found no results.-->
          <!--</v-alert>-->
        <!--</v-data-table>-->
      <!--</v-card>-->
    <!--</v-flex>-->
  </v-layout>
</template>

<script>
import MeatSale from '../../../../../Mixins/Vuex/MeatSale'
export default {
  name: 'SingleMeatPurchase',
  data () {
    return {
      search: '',
      show: false,
      columns: [
        { text: 'butchery', value: 'butchery_id' },
        { text: 'Meat type', value: 'meat_type_name' },
        { text: 'Price', value: 'meat_price' },
        { text: 'weight', value: 'meat_sale_weight' }
        // {
        //   text: 'Action'
        // }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_meat_sale', this.$route.params.meat_sale_id)
    this.$store.dispatch('get_all_meat_sales')
  },
  mixins: [MeatSale]
}
</script>

<style scoped>

</style>
