<template>
  <v-navigation-drawer
    fixed
    :clipped="$vuetify.breakpoint.lgAndUp"
    app
    v-model="drawer"
  >
    <v-list dense>
      <template v-for="item in items">
        <v-layout
          row
          v-if="item.heading"
          align-center
          :key="item.heading"
        >
          <v-flex xs6>
            <v-subheader v-if="item.heading">
              {{ item.heading }}
            </v-subheader>
          </v-flex>
          <v-flex xs6 class="text-xs-center">
            <a href="#!" class="body-2 black--text">EDIT</a>
          </v-flex>
        </v-layout>
        <v-list-group
          v-else-if="item.children"
          v-model="item.model"
          :key="item.text"
          :prepend-icon="item.model ? item.icon : item['icon-alt']"
          append-icon=""
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-for="(child, i) in item.children"
            :key="i"
            @click="navigateTo(child.url)"
          >
            <v-list-tile-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ child.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
        <v-list-tile v-else :key="item.text">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'side-nav',
  methods: {
    navigateTo: function (url) {
      this.$router.push({
        name: url
      })
    }
  },
  data () {
    return {
      dialog: false,
      drawer: null,
      items: [
        {
          text: 'Dashboard',
          model: true,
          children: [
            {icon: 'dashboard', text: 'Dashboard', url: 'Dashboard'}
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Meat Types',
          model: false,
          children: [
            { icon: 'add', text: 'New Meat Type', url: 'NewMeatType' },
            { icon: 'list', text: 'All Meat Types', url: 'AllMeatTypes' },
            { icon: 'settings', text: 'Meat Settings', url: 'MeatTypeSettings' }
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Meat Purchase',
          model: false,
          children: [
            { icon: 'add', text: 'New Meat Purchase', url: 'NewMeatPurchase' },
            { icon: 'list', text: 'All Meat Purchases', url: 'AllMeatPurchases' },
            { icon: 'settings', text: 'Meat Purchase Settings', url: 'MeatPurchaseSettings' }
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Meat Price',
          model: false,
          children: [
            { icon: 'add', text: 'New Selling Price', url: 'NewMeatPriceSale' }
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Meat Sales',
          model: false,
          children: [
            { icon: 'add', text: 'New Meat Sale', url: 'NewMeatSales' },
            { icon: 'list', text: 'All Meat Sales', url: 'AllMeatSales' }
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Meal Menu',
          model: false,
          children: [
            { icon: 'add', text: 'New Menu', url: 'NewMenu' },
            { icon: 'list', text: 'All Menus', url: 'AllMenus' },
            { icon: 'settings', text: 'Menu Settings', url: 'MenuSettings' }
          ]
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
