<template>
  <v-toolbar color="orange"
             app
             :clipped-left="$vuetify.breakpoint.lgAndUp"
             fixed
  >
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <span class="title ml-3 mr-5"><h3 class="white--text">KikkoMan Butchery</h3></span>
    <v-text-field
      solo-inverted
      flat
      hide-details
      label="Search"
      prepend-inner-icon="search"
    ></v-text-field>
    <v-list-tile @click="doLogout()" class="orange">
      <v-list-tile-title class="white--text">Logout</v-list-tile-title>
    </v-list-tile>
    <v-spacer></v-spacer>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Toolbar',
  data () {
    return {
      drawer: null
    }
  },
  methods: {
    doLogout: function () {
      localStorage.clear()
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>

</style>
