<template>
  <div id="app">
    <v-app id="inspire" >
      <toolbar></toolbar>
      <navigation-drawer></navigation-drawer>
      <v-content>
        <v-container fluid>
          <router-view/>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import Toolbar from './Modules/Management/Basics/Toolbar'
import NavigationDrawer from './Modules/Management/Basics/NavigationDrawer'
export default {
  name: 'HelloWorld',
  components: {NavigationDrawer, Toolbar},
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
