<template>
  <v-card flat slot="activator">
    <v-card-title>
      All Meals
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="allMeals"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.meal_name }}</td>
        <td>{{ props.item.meat_type }}</td>
        <td>{{ props.item.meal_meat_weight }}</td>
        <td>{{ props.item.meal_sachet_quantity }}</td>
        <td>{{ props.item.meal_price }}</td>
        <td>
          <v-btn flat slot="activator" class="blue" small v-on:click="viewMeal(props.item.meal_public_id)"><h3 class="white--text">View</h3></v-btn>
          <!--<v-btn class="red" small v-on:click="viewButchery(props.item.butchery_id)"><h3 class="white&#45;&#45;text">Butchery</h3></v-btn>-->
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
import Meals from '../../../../../Mixins/Vuex/Meals'
export default {
  name: 'AllMenus',
  data () {
    return {
      search: '',
      headers: [
        { text: 'Meal Name', value: 'meal_name' },
        { text: 'Meat type', value: 'meat_type' },
        { text: 'Price', value: 'meal_price' },
        { text: 'weight', value: 'meal_meat_weight' },
        { text: 'Quantity', value: 'meal_sachet_quantity' },
        { text: 'Action' }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_meals')
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    viewMeal: function (publicId) {
      this.$router.push({
        name: 'SingleMenu',
        params: {
          meal_id: publicId
        }
      })
    },
    viewButchery: function (publicId) {
      this.$router.push({
        name: 'SingleMenuButchery',
        params: {
          butchery_id: publicId
        }
      })
    }
  },
  mixins: [Meals, MeatTypes]
}
</script>

<style scoped>

</style>
