<template>
  <v-layout row wrap>
    <v-flex lg6 md8 sm12 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-card-title>Meal Types</v-card-title>
          <v-container>
            <table cellpadding="1" cellspacing="1" class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Meal</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(meal, index) in allMeals" :key="index">
                <td>{{index + 1}}</td>
                <td>{{meal.meal_name}}</td>
                <td>
                  <v-btn small color="error" @click="deleteMeatType(meal.meal_public_id)" v-if="edit === false">Remove</v-btn>
                  <v-btn small color="error" @click="cancelEdit()"  v-if="edit === true">Cancel Edit</v-btn>
                </td>
              </tr>
              </tbody>
            </table>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import Meals from '../../../../../Mixins/Vuex/Meals'

export default {
  name: 'MeatTypeSettings',
  data () {
    return {
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      edit: false
    }
  },
  created () {
    this.$store.dispatch('get_all_meals')
  },
  methods: {
    postMealType: function () {
      if (this.edit === false) {
        this.$store.dispatch('post_meal', this.meal)
      } else {
        this.$store.dispatch('update_meal', this.meal)
      }
      this.cancelEdit()
    },
    deleteMeatType: function (publicId) {
      var data = {
        meal_id: publicId,
        deleted_by: localStorage.getItem('session_id')
      }
      this.$store.dispatch('delete_meal', data)
    },
    cancelEdit: function () {
      this.meal = {
        meal_id: '',
        session_id: localStorage.getItem('session_id')
      }
      this.edit = false
    }
  },
  mixins: [Meals]
}
</script>

<style scoped>

</style>
