<template>
  <v-card flat slot="activator">
    <v-card-title>Add Meal Menu</v-card-title>
    <v-container>
      <v-form  @submit.prevent="postMeal()"  v-model="valid" ref="form" lazy-validation>
        <v-text-field
          label="Meal Name"
          v-model="meal.meal_name"
          :rules="nameRules"
          type="text"
          :counter="20"
          required
        ></v-text-field>
        <v-select
          label="Meat Type"
          v-model="meal.meat_type_id"
          :items="allMeatTypes"
          :rules="[v => !!v || 'A Meat type is required']"
          item-text="meat_type_name"
          item-value="meat_type_public_id"
          required
        ></v-select>
        <v-text-field
          label="Quantity"
          v-model="meal.meal_sachet_quantity"
          :rules="requiredRules"
          type="Number"
          required
        ></v-text-field>
        <v-text-field
          label="Price"
          v-model="meal.meal_price"
          :rules="requiredRules"
          type="Number"
          required
        ></v-text-field>
        <v-text-field
          label="Weight"
          v-model="meal.meal_meat_weight"
          :rules="requiredRules"
          type="Number"
          required
        ></v-text-field>
        <v-btn class="primary" type="submit">submit</v-btn>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
export default {
  name: 'NewMenu',
  data () {
    return {
      valid: true,
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      meal: {
        butchery_id: localStorage.getItem('butchery_id'),
        meal_name: '',
        meat_type_id: '',
        meal_meat_weight: 0,
        meal_sachet_quantity: 0,
        meal_price: '',
        session_id: localStorage.getItem('session_id')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    postMeal: function () {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('post_meal', this.meal)
      }
    }
  },
  mixins: [MeatTypes]
}
</script>

<style scoped>

</style>
