<template>
  <v-layout row wrap>
    <v-flex sm8 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR5vByvQDoL5aE0jAdGH_Wc6vrKJxgArHTzdOkGIDAInln9LXRWw"
            height="200px"
          >
          </v-img>

          <v-card-title primary-title>
            <div>
              <div class="headline"><p>{{SingleMeal.meal_name}}</p></div>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn icon @click="show = !show"
                   color="orange"
                   dark
                   small
                   absolute
                   bottom
                   right
                   fab>
              <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-slide-y-transition>
            <v-card-text v-show="show">
              <p style="font-family: 'Arial Rounded MT Bold'">Weight: {{SingleMeal.meal_meat_weight}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Price: {{SingleMeal.meal_price}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Quantity: {{SingleMeal.meal_sachet_quantity}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Created At DateTime: {{SingleMeal.created_at_datetime}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Updated At DateTime: {{SingleMeal.updated_at_datetime}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Created_at: {{SingleMeal.created_at}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Updated_at: {{SingleMeal.updated_at}}</p>
            </v-card-text>
          </v-slide-y-transition>
        </v-card>
      </v-container>
    </v-flex>
    <!--<v-flex lg8 md8 sm12 xs12>-->
      <!--<v-card>-->
        <!--<v-card-title>-->
          <!--{{SingleMeal.meal_name}}-->
          <!--<v-spacer></v-spacer>-->
          <!--<v-text-field-->
            <!--append-icon="search"-->
            <!--label="Search"-->
            <!--single-line-->
            <!--hide-details-->
            <!--v-model="search"-->
          <!--&gt;</v-text-field>-->
        <!--</v-card-title>-->
        <!--<v-data-table-->
          <!--:headers="columns"-->
          <!--:items="allMeals"-->
          <!--:search="search"-->
        <!--&gt;-->
          <!--<template slot="items" slot-scope="props">-->
            <!--<td>{{ props.item.meal_name }}</td>-->
            <!--<td>{{ props.item.meal_price }}</td>-->
            <!--&lt;!&ndash;<td class="has-text-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-btn small v-on:click="viewExpense(props.item.public_id)">View Details</v-btn>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
          <!--</template>-->
          <!--<v-alert slot="no-results" :value="true" color="error" icon="warning">-->
            <!--Your search for "{{ search }}" found no results.-->
          <!--</v-alert>-->
        <!--</v-data-table>-->
      <!--</v-card>-->
    <!--</v-flex>-->
  </v-layout>
</template>

<script>
import Meals from '../../../../../Mixins/Vuex/Meals'
export default {
  name: 'SingleMenu',
  data () {
    return {
      search: '',
      show: false,
      columns: [
        { text: 'Meal Name', value: 'meal_name' },
        { text: 'Price', value: 'meal_sachet_price' }
        // {
        //   text: 'Action'
        // }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_meal', this.$route.params.meal_id)
    this.$store.dispatch('get_all_meals')
  },
  mixins: [Meals]
}
</script>

<style scoped>

</style>
