<template>
  <v-layout row wrap>
    <v-flex lg4 md4 sm12 xs12>
      <v-container>
        <v-card>
          <v-container>
            <p>Weight: {{SingleMealButchery.meal_meat_weight}}</p>
            <p>Price: {{SingleMealButchery.meal_price}}</p>
            <p>Meal NAme: {{SingleMealButchery.meal_name}}</p>
            <p>Quantity: {{SingleMealButchery.meal_sachet_quantity}}</p>
            <p>Created At DateTime: {{SingleMealButchery.created_at_datetime}}</p>
            <p>Updated At DateTime: {{SingleMealButchery.updated_at_datetime}}</p>
            <p>Created_at: {{SingleMealButchery.created_at}}</p>
            <p>Updated_at: {{SingleMealButchery.updated_at}}</p>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg8 md8 sm12 xs12>
      <v-card>
        <v-card-title>
          {{SingleMealButchery.meal_name}}
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="columns"
          :items="allMeals"
          :search="search"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.meal_name }}</td>
            <td>{{ props.item.meal_price }}</td>
            <!--<td class="has-text-right">-->
            <!--<v-btn small v-on:click="viewExpense(props.item.public_id)">View Details</v-btn>-->
            <!--</td>-->
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Meals from '../../../../../Mixins/Vuex/Meals'
export default {
  name: 'SingleMenu',
  data () {
    return {
      search: '',
      columns: [
        { text: 'Meal Name', value: 'meal_name' },
        { text: 'Price', value: 'meal_sachet_price' }
        // {
        //   text: 'Action'
        // }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_meal_butchery', this.$route.params.butchery_id)
    this.$store.dispatch('get_all_meals')
  },
  mixins: [Meals]
}
</script>

<style scoped>

</style>
