<template>
  <v-card flat slot="activator">
    <v-card-title>Add Meat Price</v-card-title>
    <v-container>
      <v-form  @submit.prevent="postMeatPrice()"  v-model="valid" ref="form" lazy-validation>
        <v-select
          label="Meat Type"
          v-model="meat_price.meat_type_id"
          :items="allMeatTypes"
          :rules="[v => !!v || 'A Meat type is required']"
          item-text="meat_type_name"
          item-value="meat_type_public_id"
          required
        ></v-select>
        <v-text-field
          label="Price"
          v-model="meat_price.price"
          :rules="requiredRules"
          type="Number"
          required
        ></v-text-field>
        <v-btn type="submit">submit</v-btn>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
export default {
  name: 'NewMeatPurchase',
  data () {
    return {
      valid: true,
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      meat_price: {
        butchery_id: localStorage.getItem('butchery_id'),
        meat_type_id: '',
        price: '',
        session_id: localStorage.getItem('session_id')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    postMeatPrice: function () {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('post_meat_price', this.meat_price)
      }
    }
  },
  mixins: [MeatTypes]
}
</script>

<style scoped>

</style>
