<template>
  <v-card flat slot="activator">
    <v-card-title>
      All Meat Types
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="allMeatTypes"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.meat_type_name }}</td>
        <td>
          <v-btn flat slot="activator" class="blue" small v-on:click="viewMeat(props.item.meat_type_public_id)"><h3 class="white--text">View</h3></v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
export default {
  name: 'Meat Types',
  data () {
    return {
      search: '',
      headers: [
        { text: 'Meat Type', value: 'meat_type_public_id' },
        { text: 'Action' }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    viewMeat: function (publicId) {
      this.$router.push({
        name: 'SingleMeatType',
        params: {
          meat_type_id: publicId
        }
      })
    }
  },
  mixins: [MeatTypes]
}
</script>

<style scoped>

</style>
