<template>
  <v-layout row wrap>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-card-title>Meat Category</v-card-title>
          <v-container>
            <v-form  @submit.prevent="postMeatType()">
              <v-text-field
                label="Meat Name"
                v-model="meat_type.meat_type_name"
                :rules="requiredRules"
                required
                multi-line
              ></v-text-field>
              <v-btn type="submit">submit</v-btn>
            </v-form>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-card-title>Meat Types</v-card-title>
          <v-container>
            <table cellpadding="1" cellspacing="1" class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <v-spacer></v-spacer>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(meat_type, index) in allMeatTypes" :key="index">
                <td>{{index + 1}}</td>
                <v-spacer></v-spacer>
                <td>{{meat_type.meat_type_name}}</td>
                <td>
                  <v-btn small color="error" @click="deleteMeatType(meat_type.meat_type_public_id)" v-if="edit === false">Remove</v-btn>
                  <v-btn small color="warning" @click="editMeatType(meat_type)"  v-if="edit === false">Edit</v-btn>
                  <v-btn small color="error" @click="cancelEdit()"  v-if="edit === true">Cancel Edit</v-btn>
                </td>
              </tr>
              </tbody>
            </table>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'

export default {
  name: 'MeatTypeSettings',
  data () {
    return {
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      edit: false,
      meat_type: {
        meat_type_name: '',
        session_id: localStorage.getItem('session_id')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_meat_types')
  },
  methods: {
    postMeatType: function () {
      if (this.edit === false) {
        this.$store.dispatch('post_meat_type', this.meat_type)
      } else {
        this.$store.dispatch('update_meat_type', this.meat_type)
      }
      this.cancelEdit()
    },
    deleteMeatType: function (publicId) {
      var data = {
        meat_type_id: publicId,
        deleted_by: localStorage.getItem('session_id')
      }
      this.$store.dispatch('delete_meat_type', data)
    },
    editMeatType: function (projectType) {
      this.meat_type = projectType
      this.edit = true
    },
    cancelEdit: function () {
      this.meat_type = {
        meat_type_name: '',
        session_id: localStorage.getItem('session_id')
      }
      this.edit = false
    }
  },
  mixins: [MeatTypes]
}
</script>

<style scoped>

</style>
