<template>
  <v-card flat slot="activator">
    <v-card-title>Add Meat Type</v-card-title>
    <v-container>
      <v-form  @submit.prevent="postMeatType()"  v-model="valid" ref="form" lazy-validation>
        <v-text-field
          label="Meat Type Name"
          v-model="meat_type.name"
          :rules="nameRules"
          :counter="20"
          required
        ></v-text-field>
        <v-btn class="primary" type="submit">submit</v-btn>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: 'NewMeatType',
  data () {
    return {
      valid: true,
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      requiredRules: [
        v => !!v || 'Input is required'
      ],
      meat_type: {
        name: '',
        session_id: localStorage.getItem('session_id')
      }
    }
  },
  methods: {
    postMeatType: function () {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('post_meat_type', this.meat_type)
      }
    }
  }
}
</script>

<style scoped>

</style>
