<template>
  <v-layout row wrap>
    <v-flex sm8 xs12>
      <v-container>
        <v-card flat slot="activator">
          <v-img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQKYciLxDlBPRo8Mvi6Bp828c2DS_1jJGwlC6QVhKU1O9bgRuzBw"
            height="200px"
          >
          </v-img>

          <v-card-title primary-title>
            <div>
              <div class="headline">{{SingleMeatTypes.meat_type_name}}</div>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn icon @click="show = !show"
                   color="orange"
                   dark
                   small
                   absolute
                   bottom
                   right
                   fab>
              <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-slide-y-transition>
            <v-card-text v-show="show">
              <p style="font-family: 'Arial Rounded MT Bold'">Created At: {{SingleMeatTypes.created_at}}</p>
              <p style="font-family: 'Arial Rounded MT Bold'">Updated At: {{SingleMeatTypes.updated_at}}</p>
            </v-card-text>
          </v-slide-y-transition>
        </v-card>
      </v-container>
    </v-flex>
    <!--<v-flex lg8 md8 sm12 xs12>-->
      <!--<v-card>-->
        <!--<v-card-title>-->
          <!--{{SingleMeatTypes.meat_type_name}} Meat-->
          <!--<v-spacer></v-spacer>-->
          <!--<v-text-field-->
            <!--append-icon="search"-->
            <!--label="Search"-->
            <!--single-line-->
            <!--hide-details-->
            <!--v-model="search"-->
          <!--&gt;</v-text-field>-->
        <!--</v-card-title>-->
        <!--<v-data-table-->
          <!--:headers="columns"-->
          <!--:items="allMeatTypes"-->
          <!--:search="search"-->
        <!--&gt;-->
          <!--<template slot="items" slot-scope="props">-->
            <!--<td class="fancy">{{ props.item.meat_type_name}} </td>-->
            <!--&lt;!&ndash;<td class="has-text-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-btn small v-on:click="viewExpense(props.item.public_id)">View Details</v-btn>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
          <!--</template>-->
          <!--<v-alert slot="no-results" :value="true" color="error" icon="warning">-->
            <!--Your search for "{{ search }}" found no results.-->
          <!--</v-alert>-->
        <!--</v-data-table>-->
      <!--</v-card>-->
    <!--</v-flex>-->
  </v-layout>
</template>

<script>
import MeatTypes from '../../../../../Mixins/Vuex/MeatTypes'
export default {
  name: 'SingleMeatType',
  data () {
    return {
      search: '',
      show: false,
      columns: [
        {
          text: 'Meat Type Name',
          name: 'meat_type_name'
        }
        // {
        //   text: 'Action'
        // }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_meat_type', this.$route.params.meat_type_id)
    this.$store.dispatch('get_all_meat_types')
  },
  mixins: [MeatTypes]
}
</script>

<style scoped>

</style>
